@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300&family=Poppins:wght@100&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'nunito';
}

:root {
    --bg-color: white;
    --second-bg-color: #F2F6FF;
    --text-color : #234CAD;
    --main-color :#234CAD;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
/* Fitur 2*/


#fitur2 h2 {
    display: block;
    clear: both;
    color: #234CAD;
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 116.667% */
}


#fitur2 p {
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    margin-bottom: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.features2 {
    display: flex;
    background-color: #F2F6FF;
    border-radius: 60px;
    height: 575px;
    width: 100%;
    color:#234CAD; 
}
.features2-left {
    margin: 100px;
    margin-right: 0;
}

.features2-left .row-1 {
    margin-top: 80px;
}
.features2-left .row-2 {
    margin-top: 20px;
    text-align: right;
}

.features2-center {
    display: flex;
    flex: 1;
    justify-content: end;
    position: relative;
    margin-left: 20px;
    /* margin-top: 35px; */
}

.features2-center .row-1 {
    margin-top: 60px;
}
.features2-center .row-2 {
    margin-top: 30px;
    padding-left: 30px;
}

.features2-center2 {
    display: flex;
    flex: 1;
    margin-left: 20px;
}
.features2-center2 .row-1 {
    margin-top: 30px;
}
.features2-center2 .row-2 {
    margin-top: 30px;
}

.features2-center3 {
    margin-left: 20px;
}
.features2-center4 {
    margin-left: 50px;
    margin-top: -40px;
}
/* End */

/* About*/

.right-section {
    flex: 1;
    padding: 80px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    margin-top: 60px;
    border-radius: 60px;
    height: 500px;
    width: 100%;
    color: #234CAD;
}

.right-section h3{
    display: block;
    clear: both;
    color: #234CAD;
    font-size: 48px;
    margin-top: -40px;
    padding: 40px 3% 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    word-wrap: break-word;
}

.right-section p{
    display: inline-block;
    clear: both;
    color: #234CAD;
    font-size: 48px;
    margin-top: -40px;
    padding: 40px 3% 25px;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    word-wrap: break-word;
}

.right-section .btn-about {
    display : inline-block;
    padding: 10px 30px;
    margin-top: -40px;
    background-color: var(--bg-color);
    border-radius:  40px;
    border-style: solid;
    border-color: var(--main-color);
    font-size: 16px;
    color: var(--text-color);
    letter-spacing: .10px;
    font-weight: 600px;
    transition: .5s ease;
    text-decoration: none;
}


.schedule-container{
    width: 100%;
    height: 100%;
    background: #F2F6FF;
    border-radius: 60px;
    overflow: hidden;
}
.about-section .component{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F6FF;
    border-radius: 60px;
    padding-bottom: 1em;
}
.grid {
    color: #234CAD;
}
@media only screen and (min-width: 992px) {
    .about-section .component .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px 0px 20px;
    }

    .about-section .component .grid-container .grid {
        padding: 10px;
    }

    .about-section {
        width: 545px;
        height: 495px;
    }

    .about-section .component {
        width: 627px;
        height: 555px;
        top: 60px;
        left: 50px;
        position: absolute;
    }

    .about-section .schedule-container {
        width: 100%;
        height: 100%;
        background: #F2F6FF;
        position: relative;
        border-radius: 60px;
    }
}

@media only screen and (max-width: 800px) {
    .about-section {
        width: 100%;
    }

    .about-section .component {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F2F6FF;
        border-radius: 60px;
        padding-bottom: 1em;
    }

}
#duaItems .row .col-md-6 h3 {
    color: #234CAD;
    font-size: 30px;
    font-weight: 500;
    line-height: 49px;
}

#duaItems .row .col-md-6 p {
    color: #234CAD;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 60px;
    padding: 50px;
    transition: all 0.5s;
    animation: slideUp 2.0s;
}

.card-body p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #234CAD;
}

.card-title {
    font-size: 50px;
    font-weight: bold;
    color: #234CAD;
}

.card:hover {
    border-radius: 60px;
    border: 5px solid #234CAD;
    outline: 3px solid #234CAD;
    background-color: #F2F6FF;
    color: #234CAD;
    padding: 50px;
}

.btn2{
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    border: 2px solid #234CAD;
    color: #234CAD;
    font-weight: 500;
    border-radius: 50px;
    background-color: transparent;
    font-size: 22px;
    line-height: 36px;
}

.upload-box-with-text {
    display: flex;
    align-items: center;
    width: 300px;
    height: 90px;
    background-color: white;
    border-radius: 20px;
}

.small-box {
    display: flex;
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 20px;
}

.chat-box {
    display: flex;
    align-items: center;
    width: 320px;
    height: 100px;
    background-color: white;
    border-radius: 25px;
}

.chat-box .initial {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    width: 60px;
    height: 60px;
    background-color: #F2F6FF;
}

.chat-box .initial-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 16px;
    width: 16px;
    font-weight: 700;
    font-size: 6px;
    line-height: 8px;
    color: white !important;
    background-color: #234CAD;
    border-radius: 50%;
    border: solid 1px white;
}

.chat-box .center-chat-box {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.chat-box .center-chat-box small {
    font-weight: 400;
    font-size: 10px;
    line-height: 21px;
}

.chat-box .end-chat-box {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
}

.schedule-box {
    width: 256px;
    height: 140px;
    background-color: white;
    border-radius: 25px;
}

.circles .circle-1,
.circles .circle-2,
.circles .circle-3,
.circles .circle-4{
    background-color: #F2F6FF;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    font-size: 10px;
    margin-top: -10px;
    margin-left: -8px;
    border: 2px solid #fff;
}
.schedule-box .text{
    margin-left: 15px !important;
}
.schedule-box .text small{
    font-size: 12px;
}

.upload-box-without-text {
    width: 130px;
    height: 160px;
    border-radius: 25px;
    background-color: white;
}



/* Pricing */

#price {
    min-height: 100%;
    padding: 100px 9% 100px;
}

.price h2 {
    display: block;
    clear: both;
    color: #234CAD;
    text-align: center;
    font-size: 48px;
    margin-top: -40px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 116.667% */
}


.price p {
    color: #234CAD;
    text-align: center;
    font-family: Nunito;
    margin-bottom: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.btn-price {
    display : inline-block;
    padding: 10px 28px;
    margin-top: -20px;
    background-color: var(--bg-color);
    border-radius:  40px;
    font-size: 16px;
    color: var(--text-color);
    letter-spacing: .10px;
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
}

.btn-price:hover {
    background-color: var(--bg-color);
    border-color: var(--main-color);
}

.btn-price2 {
    display : inline-block;
    padding: 10px 25px;
    margin-top: -20px;
    background-color: var(--bg-color);
    border-radius:  40px;
    border-style: solid;
    border-color: var(--main-color);
    font-size: 16px;
    color: var(--text-color);
    letter-spacing: .10px;
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
}

.btn-price2:hover {
    background-color: var(--bg-color);
    border-color: var(--main-color);
}


.price-countainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.price-countainer .price-box {
    Flex: 1 1 500px;
    background: var(--second-bg-color);
    width: 300px;
    height: 300px;
    padding: 30px 20px 40px;
    border-radius: 40px;
    text-align: center;
    border: .20px solid var(--bg-color);
    transition: .5s ease;
}

.price-countainer .price-box:hover {
    background-color: var(--bg-color);
    border-color: var(--main-color);
    transform: scale(1.02);
}

.price-box h2 {
    font-size: 50px;
    margin: 10px 0 20px;
    color: var(--main-color);
}

.price-box h3 {
    font-size: 25px;
    font-weight: 400px;
    line-height: 40px; /* 160% */   
}

.price-box p {
    font-size: 20px;
    margin: 10px 0 50px;
}


.price-countainer .price-box2 {
    Flex: 1 1 500px;
    background: var(--bg-color);
    border-style: solid;
    border-color: var(--main-color);
    width: 300px;
    height: 300px;
    padding: 30px 20px 40px;
    border-radius: 40px;
    text-align: center;
    transition: .5s ease;
}

.price-countainer .price-box2:hover {
    background-color: var(--bg-color);
    border-color: var(--main-color);
    transform: scale(1.02);
}


.price-box2 h2 {
    font-size: 50;
    margin: 10px 0 20px;
    color: var(--main-color);
}

.price-box2 h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px; /* 160% */   
}

.price-box2 p {
    font-size: 20px;
    margin: 10px 0 50px;
}
